<h1>Name: </h1>
<%= @me.name %>
<br/>
<h1>Introduction: </h1>
<%= @me.introduction %>
<br/>
<h1>Fun Fact: </h1>
<%= @me.fun_fact %>
<br />
<h1>What I'm Most Excited About: </h1>
<%= @me.most_excited %>
<br />
